*{
    margin:0px;
    padding:0px;
}

.azul_degradado{
    background: rgb(36,219,255);
    background: linear-gradient(90deg, rgba(36,219,255,1) 14%, rgba(44,168,193,1) 29%, rgba(48,140,158,1) 44%, rgba(44,168,193,1) 56%, rgba(44,168,193,1) 70%, rgba(48,140,158,1) 85%);
}

.blanco_degradado{
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 9%, rgba(250,247,247,1) 24%, rgba(245,242,242,1) 36%, rgba(255,255,255,1) 47%, rgba(250,247,247,1) 59%, rgba(245,242,242,1) 68%, rgba(255,255,255,1) 76%, rgba(250,247,247,1) 84%, rgba(245,242,242,1) 93%);
}

.sin_subrayar{
    text-decoration: none;
}

.gris_degradado{
    background: rgb(160,164,175);
    background: linear-gradient(69deg, rgba(160,164,175,1) 22%, rgba(159,163,174,1) 38%, rgba(154,158,168,1) 49%, rgba(148,152,163,1) 62%, rgba(143,147,158,1) 75%, rgba(141,145,156,1) 85%);
}

.doble_seprador{
    border-left: 8px double black;
    border-top: 8px double black;
}

.tipografia_azul{
    color: #0f5474;
}

.botonEnviar:hover{
    background-color: #0f5474;
    color: white;
    font-weight: bolder;
}

.borde_redondeado{
    border: 5px solid lightblue;
    border-radius: 10px;
}

.chat_whatsapp{
    position: fixed;
    right: 5px;
    bottom: 30px;
}

.whatsapp{
    width: 50px;
    height: 50px;
}

.servicio__descripcion{
    color: black;
    font-size: 30px;
}