* {
  padding: 0;
  margin: 0; }

#maquetadoUnContenido {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "infoEntregas"  "header" "barraNavegadora" "contenido_pagina" "pie"; }

#maquetadoDosContenidos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "infoEntregas infoEntregas" "header header" "barraNavegadora barraNavegadora" "contenidoIzquierdo contenidoDerecho" "pie pie"; }

.cuerpo_pagina {
  background: white;
  background: linear-gradient(270deg, white 9%, #faf7f7 24%, #f5f2f2 36%, white 47%, #faf7f7 59%, #f5f2f2 68%, white 76%, #faf7f7 84%, #f5f2f2 93%);
  padding-bottom: 10px; }

.chat_whatsapp {
  position: fixed;
  right: 5px;
  bottom: 30px; }

.icono {
  height: 50px;
  width: 50px; }

.sin_subrayado {
  text-decoration: none;
  color: black; }

.sin_bordes {
  border: none; }

.fuente_azul {
  color: #0f5474; }

.centrado {
  text-align: center; }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes cambioFondo {
  from { }
  to {
    color: white;
    background: #24dbff;
    background: linear-gradient(90deg, #24dbff 14%, #2ca8c1 29%, #308c9e 44%, #2ca8c1 56%, #2ca8c1 70%, #308c9e 85%); } }

#infoEntrega {
  display: flex;
  background-color: #0f5474;
  color: white;
  font-weight: bolder;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  overflow: hidden;
  grid-area: infoEntregas; }
  #infoEntrega p {
    animation: slideInDown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 4s; }

#header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-area: header; }

#logoHeader {
  width: 174px;
  display: flex;
  flex-direction: row; }

#tituloHeader {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  #tituloHeader h1 {
    font-size: 40px;
    color: white;
    font-family: "Hurricane", cursive; }

.animacion_bienvenida_titulo {
  animation: backInRight;
  animation-duration: 2s; }

.animacion_bienvenida_logo {
  animation: backInLeft;
  animation-duration: 3s; }

#barraNavegadora {
  border-top: 2px solid white;
  font-weight: bolder;
  grid-area: barraNavegadora; }

.fuente_menu {
  text-decoration: none;
  color: white; }

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .menu .item:hover .submenu {
    display: block; }
    .menu .item:hover .submenu .item:hover {
      background-color: #0f5474;
      z-index: 10; }

.item {
  text-align: left;
  display: inline-block;
  width: 15%;
  position: relative;
  font-size: 20px; }

.submenu {
  position: absolute;
  display: none;
  border-left: 2px solid white; }
  .submenu .item {
    width: 100%;
    display: block; }

.desplegable {
  font-size: 14px; }

.azul_degradado {
  background: #24dbff;
  background: linear-gradient(90deg, #24dbff 14%, #2ca8c1 29%, #308c9e 44%, #2ca8c1 56%, #2ca8c1 70%, #308c9e 85%); }

.azul_degradado_invertido {
  background: #308c9f;
  background: linear-gradient(270deg, #308c9f 22%, #2f91a4 43%, #2e96aa 62%); }

#pie {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  grid-area: pie; }

#infoContacto {
  padding: 20px 40px;
  animation: aparecer;
  animation-duration: 3s; }

.tituloContacto {
  font-size: 40px; }

.interlineado {
  margin-bottom: 50px; }

#inputContacto {
  display: flex;
  justify-content: flex-start;
  animation: aparecer;
  animation-duration: 3s; }

#formulario_contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px; }

.etiqueta {
  font-size: 25px;
  text-align: center; }

.datos {
  height: 15px;
  width: 312px; }

.enviar {
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  transition: all 2s; }
  .enviar:hover {
    background-color: #0f5474;
    color: white; }
  .enviar:focus {
    background-color: #0f5474;
    color: white; }

.borde_contacto {
  border: 2px solid lightblue;
  border-radius: 5px; }

#promo {
  display: flex; }

#contenedorTitulo {
  margin-top: 25px;
  margin-bottom: 25px; }
  #contenedorTitulo h2 {
    font-size: 40px;
    font-family: "Anek Telugu", sans-serif; }

.espaciadoHome {
  padding-left: 50px;
  padding-right: 50px; }

#contenedorCategorias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 30px;
  animation: aparecer;
  animation-duration: 3s; }

.categoria {
  background-color: white;
  display: flex;
  flex-direction: row;
  border: 2px solid lightblue;
  border-radius: 5px;
  transition: all 1s; }
  .categoria:hover {
    transform: scale(1.05, 1.05); }
  .categoria h3 {
    padding: 0px 5px;
    align-self: center; }

.tamanio_imagen {
  padding: 0px 5px;
  height: 75px;
  width: 75px; }

@media screen and (max-width: 780px) {
  #contenedorCategorias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px; } }

.serpacion_articulos {
  margin-top: 20px;
  margin-bottom: 100px; }

.caja_secciones, .listado__titulo, .producto {
  border-top: 5px solid lightblue;
  border-left: 5px solid lightblue;
  border-right: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  margin-bottom: 10px; }

.listado__titulo {
  background: #24dbff;
  background: linear-gradient(90deg, #24dbff 14%, #2ca8c1 29%, #308c9e 44%, #2ca8c1 56%, #2ca8c1 70%, #308c9e 85%);
  padding-left: 20px;
  font-size: 25px;
  text-align: center;
  color: white; }

.producto {
  background-color: white;
  width: 300px;
  padding-bottom: 5px;
  display: inline-block;
  margin-left: 100px;
  transition: all 1s; }
  .producto:hover {
    transform: scale(1.05, 1.05); }

.producto__imagen {
  height: 300px;
  width: 200px;
  padding-left: 50px; }

.producto__precio {
  font-size: 30px; }

.producto__boton {
  height: 30px;
  width: 100px;
  background-color: #52c76b;
  color: white;
  font-weight: bold;
  margin-left: 100px; }
  .producto__boton:hover {
    background-color: #0f5474;
    color: white; }

.hacia_arriba {
  position: fixed;
  left: 5px;
  bottom: 30px; }

.contenido_servicio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  justify-content: flex-end; }

.servicio__descripcion {
  font-family: "Roboto", sans-serif bold;
  color: black;
  font-size: 35px;
  text-align: center;
  margin: 0px 5px 0px 0px;
  padding-top: 50px;
  border-top: 5px solid lightblue;
  border-left: 5px solid lightblue;
  border-right: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
  border-radius: 10px;
  width: auto;
  transition: font-size 2s; }
  .servicio__descripcion:hover {
    color: white;
    background: #24dbff;
    background: linear-gradient(90deg, #24dbff 14%, #2ca8c1 29%, #308c9e 44%, #2ca8c1 56%, #2ca8c1 70%, #308c9e 85%); }

.servicio__titulo {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 5px solid lightblue;
  border-radius: 10px;
  background: #24dbff;
  background: linear-gradient(90deg, #24dbff 14%, #2ca8c1 29%, #308c9e 44%, #2ca8c1 56%, #2ca8c1 70%, #308c9e 85%);
  text-align: center;
  font-size: 30px;
  color: white; }

.servicio__imagen {
  border: 5px solid lightblue;
  border-radius: 10px;
  display: inline-block;
  width: 500px;
  margin-left: 0px; }

.contenidoImagen {
  grid-area: contenidoIzquierdo;
  display: grid;
  align-items: flex-end; }

.gris_degradado {
  background: #a0a4af;
  background: linear-gradient(69deg, #a0a4af 22%, #9fa3ae 38%, #9a9ea8 49%, #9498a3 62%, #8f939e 75%, #8d919c 85%); }

.contenidoParrafo {
  grid-area: contenidoDerecho;
  padding: 10px;
  border-left: 5px double black;
  font-size: 20px;
  font-weight: 500; }

@media screen and (max-width: 671px) {
  #maquetadoDosContenidos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "infoEntregas"  "header" "barraNavegadora" "contenidoIzquierdo" "contenidoDerecho" "pie"; }
  #contenedorCategorias {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px; }
  .titulo_encabezado {
    font-size: 30px; }
  .menu {
    flex-direction: column; }
  .item {
    text-align: center;
    display: block;
    width: 100%; }
  .submenu {
    position: relative; }
  .introduccion {
    font-size: 60px; }
  .video_tamanio {
    width: 100%; }
  #pie {
    flex-direction: column-reverse;
    justify-content: flex-end; }
  .contenido_servicio {
    flex-direction: column-reverse; }
  .servicio__imagen {
    width: 300px;
    margin-left: 0px; }
  .producto {
    height: 200px;
    width: 150px; }
    .producto p {
      font-size: 10px; }
  .producto__imagen {
    height: 100px;
    width: 100px;
    padding-left: 25px; }
  .producto__boton {
    height: 20px;
    width: 60px;
    margin-left: 50px;
    font-size: 10px; }
  .producto__precio {
    font-size: 15px; }
  .listado__titulo {
    font-size: 15px; }
  .servicio__descripcion {
    font-size: 18px; }
  #header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    grid-area: header; }
  #logoHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #tituloHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tamanio_logo {
    height: 100px;
    width: 174px; }
  .contenidoParrafo {
    border-top: 5px double black;
    border-left: 0px; } }
