.serpacion_articulos{
    margin-top: 20px;
    margin-bottom: 100px;
}

.caja_secciones{
    border-top: map-get($bordes, bordeGrueso);   
    border-left: map-get($bordes, bordeGrueso); 
    border-right: map-get($bordes, bordeFino); 
    border-bottom: map-get($bordes, bordeFino);
    border-radius: map-get($bordes, bordeRedondo);
    margin-bottom: 10px;
}

.listado__titulo{
    @extend .caja_secciones;
    @include fondoDegradado( map-get($colores, azulEspecial) ,map-get($gradientes, gradienteAzulEspecial) );
    padding-left: 20px;
    font-size: 25px;
    text-align: center;
    color: map-get($colores, blanco);
}

.producto{
    @extend .caja_secciones;
    background-color: map-get($colores, blanco);
    width: 300px;
    padding-bottom: 5px;
    display: inline-block;
    margin-left: 100px;
    transition: map-get($transiciones, transicionRapida);
    &:hover{
        transform: $aumentar5per;
    }
}

.producto__imagen{
    @include dimension(300px, 200px);
    padding-left: 50px;
}

.producto__precio{
    font-size: 30px;
}

.producto__boton{
    @include dimension(30px, 100px);
    @include boton_color( map-get($colores, verdeAgua), map-get($colores, blanco) );
    font-weight: bold;
    margin-left: 100px;
    &:hover{
        @include boton_color( map-get($colores, azulOscuro), map-get($colores, blanco) );
    }
}

.hacia_arriba{
    position: fixed;
    left: 5px;
    bottom: 30px;
}